<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu</title>
</head>
<body>
<div th:fragment="mainMenu">
    <nav>
        <ul>
            <li><a th:href="@{${createCargoOrderForm}}">Create Cargo Order</a></li>
            <li><a th:href="@{${getCargoOrders}}">Cargo Orders</a></li>
            <li><a th:href="@{${getVehicles}}">Vehicles</a></li>
            <li><a th:href="@{${getDrivers}}">Drivers</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
            <br>
            <li th:if="${#request.isUserInRole('ROLE_ADMIN')}"><a th:href="@{${initializerMenu}}">Initializer</a></li>
            <li th:if="${#request.isUserInRole('ROLE_ADMIN')}"><a th:href="@{${historyPage}}">History</a></li>
            <li th:if="${#request.isUserInRole('ROLE_ADMIN')}"><a th:href="@{${createVehicleForm}}">Create Vehicle</a></li>
            <li th:if="${#request.isUserInRole('ROLE_ADMIN')}"><a th:href="@{${createDriverForm}}">Create Driver</a></li>
        </ul>
    </nav>
</div>
</body>
</html>