<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cargo Orders</title>
    <style>
        th {
            padding: 10px;
        }
        td {
            padding: 10px;
        }
    </style>
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>
<h1>All Cargo Orders</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Cargo Type</th>
        <th>Cargo Amount</th>
        <th>Days Till Complete</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.cargoType}"></td>
        <td th:text="${order.cargoAmount}"></td>
        <td th:text="${order.daysTillComplete}"></td>
        <td>
            <a th:href="@{${getCargoOrderEndpoint}(id = ${order.id})}">View</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>