<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/basicHeadProperties :: basicHeadProperties">
    <title>Cargo Order</title>
</head>
<body>
<div th:insert="fragments/mainNavbar :: mainNavbar"></div>
<h1>Cargo Order Details</h1>
<p><strong>ID:</strong> <span th:text="${order.id}"></span></p>
<p><strong>Cargo Type:</strong> <span th:text="${order.cargoType}"></span></p>
<p><strong>Cargo Amount:</strong> <span th:text="${order.cargoAmount}"></span></p>
<p><strong>Payout:</strong> <span th:text="${order.payout}"></span></p>
<p><strong>Days Till Complete:</strong> <span th:text="${order.daysTillComplete}"></span></p>
<p><strong>Min Experience Required (months):</strong> <span th:text="${order.minExperienceRequired}"></span></p>
<p><strong>Status:</strong> <span th:text="${order.getCargoStatus().status}"></span></p>
<div th:if="${order.driver != null}">
    <h2>Driver info</h2>
    <p><strong>Id</strong> <span th:text="${order.driver.id}"></span></p>
    <p><strong>Name</strong> <span th:text="${order.driver.name}"></span></p>
    <p><strong>Surname</strong> <span th:text="${order.driver.surname}"></span></p>
    <p><strong>Experience</strong> <span th:text="${order.driver.experience}"></span></p>
</div>
<div th:unless="${order.driver}">
    <h2>Driver info</h2>
    <p>No driver assigned</p>
</div>
<div th:if="${order.vehicle != null}">
    <h2>Vehicle info</h2>
    <p><strong>Id</strong> <span th:text="${order.vehicle.id}"></span></p>
    <p><strong>Manufacturer</strong> <span th:text="${order.vehicle.manufacturer}"></span></p>
    <p><strong>Model</strong> <span th:text="${order.vehicle.model}"></span></p>
    <p><strong>Total payload</strong> <span th:text="${order.vehicle.payload}"></span></p>
    <p><strong>Status</strong> <span th:text="${order.vehicle.broken ? 'Broken' : 'Operational'}"></span></p>
</div>
<div th:unless="${order.vehicle}">
    <h2>Vehicle info</h2>
    <p>No vehicle assigned</p>
</div>
<h2>Destination Info</h2>
<p><strong>Id</strong> <span th:text="${order.destination.id}"></span></p>
<p><strong>Country</strong> <span th:text="${order.destination.country}"></span></p>
<p><strong>City</strong> <span th:text="${order.destination.city}"></span></p>
<p><strong>Address</strong> <span th:text="${order.destination.address}"></span></p>
<a th:href="@{${getCargoOrdersEndpoint}}">Back to list</a>
</body>
</html>