<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/basicHeadProperties :: basicHeadProperties">
    <title>Create Vehicle</title>
</head>
<body>
<div th:insert="fragments/mainNavbar :: mainNavbar"></div>
<h1>Create New Vehicle</h1>
<form th:action="@{${createVehicleEndpoint}}" th:object="${vehicleDTO}" method="post">
    <label for="manufacturer">Manufacturer:</label>
    <input type="text" id="manufacturer" th:field="*{manufacturer}" required/>
    <br/>
    <label for="model">Model:</label>
    <input type="text" id="model" th:field="*{model}" required/>
    <br/>
    <label for="payload">Payload:</label>
    <input type="number" id="payload" th:field="*{payload}" required/>
    <br/>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
</body>
</html>