<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Drivers</title>
    <style>
        th {
            padding: 10px;
        }
        td {
            padding: 10px;
        }
    </style>
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>
<h1>All Drivers</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Experience</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="driver : ${drivers}">
        <td th:text="${driver.id}"></td>
        <td th:text="${driver.name}"></td>
        <td th:text="${driver.experience}"></td>
        <td>
            <a th:href="@{${getDriverEndpoint}(id=${driver.id})}">View</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>