<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/basicHeadProperties :: basicHeadProperties">
    <title>DDS Initializer</title>
</head>
<body>
<div th:insert="fragments/mainManu :: mainMenu"></div>
<h1>DDS Initializer</h1>
<div th:if="${message}" style="color: green;">
    <p th:text="${message}"></p>
</div>

<form th:action="@{${clearDbEndpoint}}" method="post">
    <button type="submit">Clear database</button>
</form>
<form th:action="@{${initDriversEndpoint}}" method="post">
    <button type="submit">Initialize drivers</button>
</form>
<form th:action="@{${initVehiclesEndpoint}}" method="post">
    <button type="submit">Initialize vehicles</button>
</form>
<form th:action="@{${initCargoOrdersEndpoint}}" method="post">
    <button type="submit">Initialize cargo orders</button>
</form>
</body>
</html>