<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vehicle Details</title>
</head>
<body>
<div th:insert="fragments/mainManu :: mainMenu"></div>
<h1>Vehicle Details</h1>
<p><strong>ID:</strong> <span th:text="${vehicle.id}"></span></p>
<p><strong>Manufacturer:</strong> <span th:text="${vehicle.manufacturer}"></span></p>
<p><strong>Model:</strong> <span th:text="${vehicle.model}"></span></p>
<p><strong>Payload:</strong> <span th:text="${vehicle.payload}"></span></p>
<a th:href="@{${getVehiclesEndpoint}}">Back to list</a>
</body>
</html>