<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/tableHeadProperties :: tableHeadProperties">
    <title>Vehicles</title>
    <style>
        th {
            padding: 10px;
        }
        td {
            padding: 10px;
        }
    </style>
</head>
<body>
<div th:insert="fragments/mainNavbar :: mainNavbar"></div>
<h1>All Vehicles</h1>
<div th:if="${error}">
    <p style="color: red;" th:text="${error}"></p>
</div>
<table class="table table-striped" id="dataTable" data-page-length='50'>
    <thead>
    <tr>
        <th>ID</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Payload</th>
        <th>Status</th>
        <th>Actions</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vehicle : ${vehicles}">
        <td th:text="${vehicle.id}"></td>
        <td th:text="${vehicle.manufacturer}"></td>
        <td th:text="${vehicle.model}"></td>
        <td th:text="${vehicle.payload}"></td>
        <td th:text="${vehicle.broken ? 'Broken' : 'Operational'}"></td>
        <td>
            <form th:action="@{${getBrokenStatusHandlerEndpoint}(id=${vehicle.id})}" method="post" style="display:inline;">
                <button type="submit" th:text="${vehicle.broken ? 'Mark as Operational' : 'Mark as Broken'}"></button>
            </form>
        </td>
        <td><a th:href="@{${getVehicleEndpoint}(id=${vehicle.id})}">View</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>